// @import 'variables';
// @import ''

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.p-left{
    text-align: left;
}

body{
    background-color: hsl(210, 28%, 13%);
    font-size: 14px;
    color: $color-white;
}

.button {
    color: $color-white;
    width: 230px;
    height: 50px;
    background-color: hsl(176, 68%, 64%);
    border-radius: 50px;
    font-size: 15px;
    font-weight: 550;
    border: none;
    }

.section-characteristics {
    text-align: center;
    padding: 5%;
    // border: 1px solid red;
    }

.characteristics-title {
    padding: 5%;
    font-weight: 700;
}

@media only screen and (min-width: 800px) {
  /*Desktop-design*/

    .main {
        display: flex;
        border: 1px solid red;
        width: 1024px;
    }
    .section-main {
        display: flex;
        /*flrx direction*/
        justify-content: flex-start;
        flex-wrap: wrap;        
        width: 1024px;
        border: 1px solid red;        
    }


    .section-characteristics {
        border: 1px solid red;
        display: flex;
        width: 350px;
    }
    }