.input-email{
    color: gray;
    width: 230px;
    height: 50px;
    background-color: $color-white;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 400;
    border: none;
    text-align: left;
    padding-left: 30px;
    margin: 20px;
}