@import 'variables';
@import 'mixin';
@import 'base';
@import 'header';
@import 'footer';

// $body-copy: 

body{
    
    font-size: 14px;
}

head{
    font-family: $font-raleway-font;
}

.heading{
    font-family: $font-raleway-font;
}

