.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-left {
  text-align: left;
}

body {
  background-color: #18212a;
  font-size: 14px;
  color: white;
}

.button {
  color: white;
  width: 230px;
  height: 50px;
  background-color: #65e2d9;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  margin: 20px;
}

.button:hover {
  background-color: #339ecc;
}

.section-characteristics {
  text-align: center;
  padding: 5%;
  max-width: 300px;
  max-height: 300px;
}

.characteristics-title {
  padding: 5%;
  font-weight: 700;
}

.product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  font-weight: 700;
  max-width: 650px;
  font-size: 30px;
}

@media only screen and (max-width: 799px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials .article-testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 60%;
  }
  .testimonials .carita {
    width: 100%;
    border-radius: 50%;
  }
  .testimonials .ancho-carita {
    width: 20%;
    padding-right: 10px;
  }
  .class-correo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .characteristics-description {
    margin-bottom: 20px;
  }
  .section-caja-correo {
    text-align: center;
    padding: 5%;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    background-color: #1c2431;
  }
  #email-error {
    color: #ff4242;
    text-align: center;
  }
  .ilustration-logo {
    width: 85%;
    height: 85%;
    margin: auto;
  }
  .seccion-central {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 85%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .footer .footer2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #0b1523;
  }
  .section-correo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -200px;
    margin-bottom: 300px;
    position: relative;
    top: 250px;
  }
}

@media only screen and (min-width: 800px) {
  /*Desktop-design*/
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 880px;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .testimonials .article-testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 25%;
  }
  .testimonials .carita {
    width: 100%;
    border-radius: 50%;
  }
  .testimonials .ancho-carita {
    width: 30%;
    padding-right: 10px;
  }
  .class-correo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-caja-correo {
    text-align: center;
    padding: 5%;
    margin-left: 20px;
    margin-right: 20px;
    width: 60%;
    background-color: #1c2431;
  }
  #email-error {
    color: #ff4242;
    text-align: left;
  }
  .ilustration-logo {
    max-width: 650px;
  }
  .seccion-central {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 85%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .section-correo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -200px;
    margin-bottom: 100px;
    position: relative;
    top: 250px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #0b1523;
  }
  .footer2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #0b1523;
  }
}

.input-email {
  color: gray;
  width: 230px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 400;
  border: none;
  text-align: left;
  padding-left: 30px;
  margin: 20px;
}

.header-final {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 40px;
  margin-top: 200px;
  background-color: #0b1523;
}

.nav-footer {
  margin: 20px;
}

.p-left-contact {
  text-align: left;
}

.nav-footer-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.nav-footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: left;
      align-content: left;
  text-align: left;
  list-style-type: none;
}

.nav-footer-column li {
  margin-bottom: 10px;
}

.nav-footer-column li:hover {
  font-weight: 700;
}

.contact-list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  list-style-type: none;
}

.contact-list-row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  list-style-type: none;
}

.li-padding {
  margin: 10px;
}

.li-padding2 {
  margin-right: 10px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

.logo {
  width: 25%;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 45%;
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  font-weight: 400;
}

.header-list li:hover {
  font-weight: 700;
  text-decoration: underline;
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.intro-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5%;
  max-width: 650px;
}

.p-productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
}

.p-title {
  font-weight: 700;
  padding-bottom: 20px;
  padding-left: 30px;
  text-align: justify;
  margin-top: 30px;
}

.p-left {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.p-left1 {
  padding-left: 20px;
}

.p-link-aquamarine {
  color: aquamarine;
  font-size: 12px;
  padding-left: 0px;
  margin: 20px;
  border-bottom: 1px solid aquamarine;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 50px;
}

.p-link-aquamarine:hover {
  color: white;
  border-color: white;
}

.img-flecha {
  width: 15%;
  height: 15%;
  padding-left: 5px;
}

.footer-flecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.article-testimonials {
  background-color: #202a3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  margin-bottom: 00px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
}

.font-testimonials {
  font-size: 12px;
}

.div-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 20px;
}

.div-testimonial2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  text-align: left;
}

.p-profile {
  font-weight: 700;
}

.p-job {
  font-weight: 400;
  font-size: 10px;
}

#quotes {
  width: 5%;
  height: 5%;
  position: relative;
  top: -35px;
}
/*# sourceMappingURL=style.css.map */